.Tilt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17f9f2;
    background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
    height: 100px;
    width: 100px;
    transform-style: preserve-3d;
}

.Tilt-inner {
    padding-top: '3px';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: white;
    transform: translateZ(20px);
  }